* {
    border: none;
    border-radius: 0;
    font-family: RobotoMono NerdFont, Roboto, Noto Sans CJK JP, sans-serif;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window > box {
    /*margin: 0 0 0 16px;*/
    border-bottom: 2px transparent;
    color: white;
}
#workspaces {
    margin-left: 2px;
    margin-right: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 3px;
    margin: 0px;
    min-width: 0px;
    color: #ffffff;
    background: transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    padding: 0 3px;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #262626;
    /*border-radius: 3px;*/
}

#window {
    /*margin: 0 240;*/
}

#mode {
    background: #64727D;
    border-bottom: 2px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-disk, #custom-weather, #custom-keyboard-layout, #tray, #mode, #idle_inhibitor {
    padding: 0 2px;
    margin: 0 5px;
    background: transparent;
    border-top: 2px solid transparent;
}

#clock {
    border-bottom: 0px solid;
}

*#battery.critical:not(.charging) {
    animation-name: blinkLow;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #262626;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

